name: Security Patrol

on:
  push:
    branches: [ main, master ]
  pull_request:
    branches: [ main, master ]

jobs:
  gitleaks:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout full Git history
        uses: actions/checkout@v4
        with:
          fetch-depth: 0         

      
      - name: Gitleaks
        uses: gitleaks/gitleaks-action@v2
        with:
          fail: true            
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}