name: Security Patrol

on: [push, pull_request]

jobs:
  basic-check:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Say Hello
        run: echo "The security Patrol is scanning commit ${{ github.sha }}..."

      - name: List files
        run: ls -lah
